####################################
# Python
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.spec

####################################
# Jupyter
####################################
.ipynb_checkpoints/

####################################
# Données sensibles
####################################
*.ged
*.ged.zip
data/raw/
*.csv
*.xlsx
*.json

####################################
# Environnements virtuels
####################################
venv/
.env/
.venv/
env/
ENV/

####################################
# Logs et temporaires
####################################
*.log
*.tmp
*.bak

####################################
# OS files
####################################
.DS_Store
Thumbs.db

####################################
# Web / JavaScript / Node.js
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Builds front-end
dist/
build/
.cache/

# Frameworks JS
.next/
.nuxt/
out/

####################################
# Docker (si utilisé)
####################################
*.pid
*.seed
docker-compose.override.yml

####################################
# IDE / Éditeurs
####################################
.vscode/
.idea/
*.sublime-project
*.sublime-workspace